<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Futuristic Chatbot - Welcome</title>
    <link rel="icon" href="static/images/logo.png" type="image/png" />

    <!-- Bootstrap CSS for layout support -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Unica+One&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Oxanium:wght@500&display=swap"
      rel="stylesheet"
    />

    <!-- Link to your existing CSS file -->
    <link rel="stylesheet" href="static/css/landing_page.css" />
  </head>

  <body>
    <!-- Header Section -->
    <header class="header">
      <!-- <img src="static/images/logo.png" alt="Company Logo" /> -->
      <h1>NEBULA</h1>
    </header>

    <!-- Hero Section -->
    <section id="hero" class="text-center py-5">
      <h2>Welcome to Futuristic Chatbot</h2>
      <p>
        Your personal AI assistant, here to make conversations easy and
        effective.
      </p>
      <a href="/login" class="btn btn-custom" data-toggle="modal"
        >Get Started</a
      >
    </section>

    <!-- Features Section -->
    <section id="features" class="text-center py-5">
      <div class="container">
        <h3>Why Futuristic Chatbot?</h3>
        <div class="row">
          <div class="col-md-4">
            <h4>Natural Conversations</h4>
            <p>
              Engage with our chatbot that understands your queries
              effortlessly.
            </p>
          </div>
          <div class="col-md-4">
            <h4>Task Automation</h4>
            <p>Let us handle your repetitive tasks, reminders, and more.</p>
          </div>
          <div class="col-md-4">
            <h4>24/7 Availability</h4>
            <p>
              Chat with the bot anytime, anywhere, and get instant responses.
            </p>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer Section -->
    <footer class="text-center py-3">
      <p>&copy; 2024 Futuristic Chatbot. All</p>
    </footer>
  </body>
</html>
